<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Departments</title>
  </head>
  <body>
    <h1>Departments</h1>
    <a href="/departments/create">Create Department</a>
    <ul>
      <% departments.forEach(department => { %>
      <li>
        <a href="/items/department/<%=department.id%>"><%=department.name %></a>
        <a href="/departments/update/<%=department.id %>">(Update)</a>
        <p><%=department.description%></p>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
