<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Department</title>
  </head>
  <body>
    <h1>Edit Department</h1>
    <form action="/departments/<%= department.id %>/update" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= department.name %>"
        required
      />
      <br />
      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%= department.description %></textarea
      >
      <br />
      <button type="submit">Update Department</button>
    </form>
    <form action="/departments/<%= department.id %>/delete" method="POST">
      <button type="submit">Delete Department</button>
    </form>
  </body>
</html>
